doctype html
html(lang="zh")
    head
        title 排球比賽紀錄
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://cdn.jsdelivr.net/npm/vue")
    body
        section(id="setting")
            div(class="container" v-if="seen")
                div(class="row")
                    div(class="col-md-6 col-xs-12")
                        select(id="our-name" v-model="ourTeam")
                            option(value="選擇隊伍" selected="selected") 選擇隊伍
                            option(value="成大資工") 成大資工
                            option(value="成大資工Ａ隊") 成大資工Ａ隊
                            option(value="成大資工Ｂ隊") 成大資工Ｂ隊
                    div(class="col-md-6 col-xs-12")
                        input(
                            type="text"
                            id="enemy-name"
                            name="enemy-team"
                            placeholder="對手隊名"
                            v-model="enemyTeam"
                        )
                div(class="row")
                    div(class="col-md-6 col-xs-12")
                        input(
                            type="text"
                            name="liberal"
                            placeholder="自由球員"
                            v-model="teamMembers[6].text"
                        )
                    div(class="col-md-6 col-xs-12")
                        - var n = 0;
                        while n < 6
                            input(
                                type="text"
                                name=n+1
                                placeholder=n+1
                                v-model="teamMembers["+n+"].text"
                            )
                            if n==2
                                br
                            - n++;
                div.row
                    div.col-md-11.col-sm-11
                    div.col-md-1.col-sm-1
                        button#nextButton(v-on:click="nextSection") {{ buttonValue }}

        section(id="history")
            div.container(v-if="seen")
                div.row
                    div.col-md-2
                    div.col-md-1 號碼
                    div.col-md-3 人名
                    div.col-md-2 狀態
                    div.col-md-4 原因
                div.row(v-for="record in records")
                    div.col-md-2 
                    div.col-md-1 {{record.num}}
                    div.col-md-3 {{record.person}}
                    div.col-md-2 {{record.status}}
                    div.col-md-4 {{record.reason}}
        section(id="select-section")
            div.container(v-if="seen")
                div.row
                    div.col-md-12
                        h1(id="title") 
                            span {{setting.enemyTeam}}
                            span &nbsp;v.s. {{setting.ourTeam}}
                div.row
                    div.col-md-12
                        select#person(v-model="selectPerson")
                            option(value="default") 選擇人員
                            option(v-for="option in setting.teamMembers" v-bind:value="option.text") {{option.text}} {{memberNum[option.text]}}
                div.row
                    div.col-md-6.col-sm-6
                        p 
                            label(for="get-score") 得分
                            input#get-score(type="radio" name="score-type", value="get-score" v-model="picked")
                            select#get-score-reason(v-model="selectGetScore")
                                option(v-for="option in getScoreArray" v-bind:value="option.value") {{option.text}}
                    div.col-md-6.col-sm-6
                        p
                            label(for="loss-score") 失分
                            input#loss-score(type="radio" name="score-type", value="loss-score" v-model="picked")
                            select#loss-score-reason(v-model="selectLossScore")
                                option(v-for="option in lossScoreArray" v-bind:value="option.value") {{option.text}}
                        span {{selectGetScore}}
                        br
                        span {{selectLossScore}}
                        br
                        span {{selectPerson}}
                        br
                        span {{picked}}
                div.row#buttons
                    div.col-md-9.col-sm-9
                    div.col-md-2.col-sm-2
                        button(v-on:click="clickHistory") {{historyButton}}
                    div.col-md-1.col-sm-1
                        button(v-on:click="clickRecord") 寫入
                div.row#finishButton
                    div.col-md-10
                    div.col-md-2
                        button(@click="clickFinishButton") 比賽結束
        section#display-section
            h1#winner 勝利隊： {{winner}}
            div（style="display: flex;")
                div
                    div.container
                        div.row
                            div.col-md-6
                div
                    div.container
                        div.row
                            div.col-md-6

        section#analysis-scetion
        script(src="js/util.js")
        script(src="js/record.js")
