doctype html
html(lang="zh")
    head
        title 排球比賽紀錄
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://cdn.jsdelivr.net/npm/vue")
    body
        section(id="setting")
            div(class="container" v-if="seen")
                div(class="row")
                    div(class="col-md-6 col-xs-12")
                        select(id="our-name" v-model="ourTeam")
                            option(value="選擇隊伍" selected="selected") 選擇隊伍
                            option(value="成大資工") 成大資工
                            option(value="成大資工Ａ隊") 成大資工Ａ隊
                            option(value="成大資工Ｂ隊") 成大資工Ｂ隊
                    div(class="col-md-6 col-xs-12")
                        input(
                            type="text"
                            id="enemy-name"
                            name="enemy-team"
                            placeholder="對手隊名"
                            v-model="enemyTeam"
                        )
                div(class="row")
                    div(class="col-md-6 col-xs-12")
                        input(
                            type="text"
                            name="liberal"
                            placeholder="自由球員"
                        )
                    div(class="col-md-6 col-xs-12")
                        - var n = 0;
                        while n < 6
                            input(
                                type="text"
                                name=n+1
                                placeholder=n+1
                            )
                            if n==2
                                br
                            - n++;
                div.row
                    div.col-md-11.col-sm-11
                    div.col-md-1.col-sm-1
                        button#nextButton(v-on:click="nextSection") {{ buttonValue }}

        section(id="history")
            div.container(v-if="seen")
                div.row

        section(id="select-section")
            div.container(v-if="seen")
                div.row
                    div.col-md-12
                        h1(id="title") 
                            span {{setting.enemyTeam}}
                            span &nbsp;v.s. {{setting.ourTeam}}
                div.row
                    div.col-md-6.col-sm-6
                        p 
                            label(for="get-score") 得分
                            input#get-score(type="checkbox")
                            select#get-score-reason
                                option(value="default" selected="selected") 選擇
                                option(value="enemy-error") 對方失誤
                                option(value="attack-get") 攻擊得分
                                option(value="tip-get") 吊球得分
                                option(value="ace") 發球得分
                                option(value="block-get") 攔網得分
                    div.col-md-6.col-sm-6
                        p 
                            label(for="loss-score") 失分
                            input#loss-score(type="checkbox")
                            select#loss-score-reason
                                option(value="default" selected="selected") 選擇
                                option(value="attack-loss") 攻擊失誤
                                option(value="serve-loss") 發球失誤
                                option(value="pass-loss") 接球失誤
                                option(value="block-loss") 攔網失誤
                                option(value="set-loss") 舉球失誤
                                option(value="error") 犯規失誤
                div.row#buttons
                    div.col-md-10.col-sm-10
                    div.col-md-1.col-sm-1
                        button(v-on:click="showHistory") 歷史紀錄
                    div.col-md-1.col-sm-1
                        button(v-on:click="record") 寫入
        script(src="js/record.js")
